@using CardTrackerClient.Services
@inherits LayoutComponentBase
@inject IUserService UserService
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            @* Add a log out link here if the user is logged in *@
            @if (UserService.IsLoggedIn)
            {
                <a class="nav-link" href="#" @onclick="Logout">Log out</a>
            }
            else
            {
                <a class="nav-link" href="/login">Log in</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task Logout()
    {
        UserService.Logout();
        NavigationManager.NavigateTo("/");
    }
}