@page "/"
@using CardTrackerClient.Services
@inject IUserService UserService
@inject NavigationManager NavigationManager

<PageTitle>Card Tracker</PageTitle>

<h3>Card Tracker</h3>
<p>Welcome to the card tracker application.</p>

<button class="btn btn-primary mx-1" @onclick="ViewCards">View All Cards</button>

@if (UserService.IsLoggedIn)
{
    <button class="btn btn-primary mx-1" @onclick="ViewDecks">View My Decks</button>
    <button class="btn btn-primary mx-1" @onclick="CreateDeck">Create New Deck</button>
}
else
{
    <p class="mt-4">Please <a href="/login">log in</a> to manage your decks</p>
}

@code {
    private void ViewCards() => NavigationManager.NavigateTo("/Cards");
    private void ViewDecks() => NavigationManager.NavigateTo("/Decks");
    private void CreateDeck() => NavigationManager.NavigateTo("/Decks/Add");
}