@using System.ComponentModel.DataAnnotations
@using CardTracker.Contracts.Requests
@using CardTracker.Contracts.Responses
@using CardTrackerClient.Services
@inject ICardApiService CardApiService
@page "/login"

<h3>Login</h3>

<EditForm Model="this" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="username">Username:</label>
        <InputText id="username" @bind-Value="username" class="form-control" />
    </div>
    <div>
        <label for="password">Password:</label>
        <InputText id="password" @bind-Value="password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@if (!string.IsNullOrEmpty(message))
{
    <p>@message</p>
}

@code {
    [Required]
    private string? username;
    [Required]
    private string? password;
    
    private string? message;

    private async Task HandleLogin()
    {
        try
        {
            if (string.IsNullOrEmpty(username) || string.IsNullOrEmpty(password))
            {
                message = "Username and password cannot be empty.";
                return;
            }
            
            LoginRequest loginRequest = new()
            {
                Username = username,
                Password = password
            };
            LoginResponse response = await CardApiService.LoginAsync(loginRequest);
            message = "Login successful: " + response.Token;
        }
        catch (Exception ex)
        {
            message = $"Login failed: {ex.Message}";
        }
    }
}